@font-face {
	font-family: 'Intro Caps Bold';
	src: url('../fonts/Intro/IntroDemo-BlackCAPS.eot');
	src: local('Intro'), url('../fonts/Intro/IntroDemo-BlackCAPS.woff') format('woff'), url('../fonts/Intro/IntroDemo-BlackCAPS.ttf') format('truetype'), url('../fonts/Intro/IntroDemo-BlackCAPS.svg') format('svg'), url('../fonts/Intro/IntroDemo-BlackCAPS.otf') format('opentype');
	font-weight: 400;
	font-style: normal;
}

* {
    box-sizing: border-box;
}

.wrapper {
    display: grid;
    min-height: 100vh;
    background-color: #FFFFFF;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 5% auto;
    grid-template-areas: 
    "header header header header header header header"
    "main main main main main main main";
    padding-bottom: 5vh;
    margin: 0 40px;
}

.header {
    display: grid;
    grid-area: header;
}

.header__title {
    align-self: center;
    justify-self: center;
    font-family: 'Roboto Slab','Arial', serif;
    color: rgba(128, 128, 128, 0.5);
}

/* Main-part-left */

.main {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-template-areas: "main__text main__picture";
    grid-area: main;
}

.logo {
    grid-area: logo;
}

.main__content {
    display: grid;
    grid-template-rows: 10% auto auto 1fr 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "logo"
    "main__title"
    "main__para"
    "buy__button"
    "main__nav";
    grid-area: main__text;
}

.main__title {
    grid-area: main__title;
    font-family:'Intro Caps Bold',serif;
    font-size: 25px;
}

.main__text {
    grid-area: main__para;
    font-family: 'Roboto Slab','Arial', serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 32px;
}

.buy__button {
grid-area: buy__button;
}

.main__button {
    background-color: #5222D0;
    color: #FFFFFF;
    border: 1px solid #000000; 
    font-family:'Intro Caps Bold',serif;
    font-style: normal;
    border-radius: 50px;
    margin-top: 20px;
    
}

.main__button_big {
    width: 250px;
    height: 60px;
    font-size: 25px;
    
    
}

.main__button_small{
    font-size: 12px; 
    height: 30px;
    width: 100px;
    margin-top: 0;
    margin-right: 0;
}


.main__nav {
    grid-area: main__nav;
    display: flex;
    justify-content: space-around;
    align-items: center;   
}

.main__link {
    text-decoration: none;
    color: #5222D0;
    font-family: 'Roboto Slab','Arial', serif;
}


/* Main-part-right */

.main__picture {
    display: grid;
    justify-items: end;
    grid-area: main__picture;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "basket__button basket__button"
    "main__img main__img";
}

.main__img {
    grid-area: main__img;
}

.basket__button {
    display: grid;
    grid-area: basket__button;
    justify-items: end;   
}



